# Ignore virtual environment
venv/
env/
ENV/

# Python cache files
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

build/
dist/
*.exe